#linkbar {
  background-color: #33652e;
  text-align: right;
  padding: 22px 40px 22px 0px;
  color: white;
  float: right;
  z-index: 2;
  @include disable-select();
  @include material-shadow(2);
  height: 20px;
  
  @media screen and (max-width: 24cm) {
    text-align: left;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 56px;
    z-index: 10;
  }
    

  #logo {
    height: 80px;
    width: auto;
    position: absolute;
    left: 30px;
    top: 5px;
    @media screen and (max-width: 24cm) {
      display: none;
    }
  }
  
  
  .title {
    display: inline-block;
    position: absolute;
    left: 25px;
    top: 14.5px;
    font-family: 'Roboto';
    font-size: 30px;
    @media screen and (max-width: 24cm) {
      position: static;
      display: inline-block;
      vertical-align: middle;
      font-size: 20px;
      line-height: 56px;
      margin-left: 12px;
      font-family: 'Roboto';
    }
  }

  &.open #linkBarLinks {
    left: 0;
    opacity: 1;
    transition: left 500ms, opacity 1ms ease 0ms;
  }
  
  &:not(.open) .toggle-menubox::before {
    content: 'menu';
  }

  &.open .toggle-menubox::before {
    content: 'close';
  }
  
  
  #linkBarLinks {
    box-shadow: none;
    @media screen and (max-width: 24cm) {
      position: fixed;
      left: -350px;
      opacity: 0;
      
      transition: left ease-in 600ms, opacity 1ms ease 500ms;
      top: 56px;
      background: white;
      padding: 36px;
      padding-top: 22px;
      border-radius: 0px;
      height: 100%;
      width: 250px;
      font-size: 20px;
      max-width: 50%;
      box-shadow: 0px 6px 6px -3px rgba(0,0,0,0.23) inset,
      3px 0px 0px 0px rgba(0,0,0,0.03), 2.5px 0px 0px 0px rgba(0,0,0,0.04),
      2px 0px 0px 0px rgba(0,0,0,0.05), 1.5px 0px 0px 0px rgba(0,0,0,0.06),
      1px 0px 0px 0px rgba(0,0,0,0.07), 0.5px 0px 0px 0px rgba(0,0,0,0.08);
    }
  }
  

  #linkBarLinks a {
    margin-right: 40px;
    z-index: 2;
    text-decoration: none;
    color: $linkbar-link-color;
    text-transform: uppercase;
    font-family: 'Roboto', 'Helvetica Neue';
    font-size: 18px;
    @media screen and (max-width: 24cm) {
      margin-right: 8px;
      display: block;
      padding: 10px 0px;
      color: $menubox-link-color;
      text-transform: capitalize;
      font-size: 15px;
      font-weight: 600;
    }
  }

  
  #menuBoxIcon, #backIcon {
    display: none;
    @media screen and (max-width: 24cm) {
      display: inline-block;
      height: 100%;
      font-size: 28px;
      text-decoration: none;
      color: white;
      vertical-align: middle;
      line-height: 56px;
      margin-left: 15px;
    }
  }


}
