.login {
  form {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 25vh;
    max-width: 80vw;
  }
  p {
    font-size: 25px;
    margin-bottom: 10px;
    color: #101010;
  }
  input {
    width: 100%;
  }
}
