$musta: #000;
$valkoinen: #fff;
$partionsininen: #253764;

/* grafiikkavärit */
$oranssi: #EFA01E;
$keltainen: #F0E005;
$vihreä: #14A54B;
$sininen: #28A9E1;
$punainen: #F04150;

/* Ikäkausivärit */
$sudari: #f5ea2e;
$seikkailija: #d4791e;
$tarpoja: #5e0f75;
$samoaja: #33652e;
$vaeltaja: #6e470a;
$aikuinen: $partionsininen;
