/* Varastonhallinnaalle spesifi scss */

/* Pidetään kuvat rajojen sisällä */
img{
    max-height:100%;
    max-width:100%;
}


#siteContent {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    /*Tähän mediaquery*/
    grid-template-areas:
        "own item inventory";

    .own {
        grid-area:own;
    }
    .item {
        grid-area:item;
    }
    .inventory {
        grid-area:inventory;
    }
}


body{
    width:100vw;
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "content" "footer";

    header{
        grid-area:header;

        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 3fr 2fr;
        grid-template-areas: "title logo" "nav logo";

        color: #fff;
        background: $samoaja;
        .title{
            grid-area: title;
        }
        .logo{
            grid-area: logo;
        }
        .site-nav{
            grid-area: nav;
        }
    }
    #siteContent{
        grid-area:content;
    }
    footer{
        grid-area:footer;

        background: $partionsininen;
        min-height: 50px;
    }
}
