/* Varastonhallinnaalle spesifi scss */



@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400:600:700');


/* Pidetään kuvat rajojen sisällä */
img{
    max-height:100%;
    max-width:100%;
}


#siteContent {
    max-width: 85vw;
    justify-self: center;

    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    /*Tähän mediaquery*/
    grid-template-areas:
        "own item inventory";
    & > *{ /* Vaikuttaa vain kolmeen kenttään */
        padding:1em;
    }

    .own {
        grid-area:own;

    }
    .item {
        grid-area:item;
        form{
            max-width: 100%;
            .new-entry{
                width:100%;
            }
        }
    }
    .inventory {
        grid-area:inventory;
        button.tab{
            padding:0.2em;
        }
    }
    .own, .inventory{
        display:grid;
        grid-template:
            "subtitle" 1fr
            "list" 9fr
            / 1fr;
    }
}


body{
    width:100vw;
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "content" "footer";

    header{
        grid-area:header;

        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 3fr 2fr;
        grid-template-areas: "title logo" "nav logo";

        color: #fff;
        background: $samoaja;
        .title{
            grid-area: title;
        }
        .logo{
            grid-area: logo;
        }
        .site-nav{
            grid-area: nav;
        }
    }
    #siteContent{
        grid-area:content;
    }
    footer{
        grid-area:footer;

        background: $partionsininen;
        min-height: 50px;
    }
}



h1, h3, h4{
    font-family:lato;
    margin-left: 1em;
    text-transform: uppercase;
}
button>h4{
    margin:0;
    padding:0.2em;
}





.list{
    grid-area:list;
    border:1px solid #ccc;
    .own-item, .inventory-item{
        font-family: 'source sans pro';
        padding: 0.3em;

        p{
            display:inline;
            text-transform:lowercase;
        }
        span.counter{
            background: #333;
            color: #fff;
            border-radius: 5px;
            padding:0;
            padding-right: 0.3em;
            padding-left: 0.3em;
            font-size: 0.8em;
            &::after{
                content: "×";
            }
        }
    }
}
