@import "https://fonts.googleapis.com/css?family=Open+Sans|Material+Icons|Ubuntu|Roboto";
#linkbar {
  background-color: #33652e;
  text-align: left;
  padding: 22px 40px 22px 0px;
  width: 100%;
  color: white;
  float: right;
  position: fixed;
  z-index: 2;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 20px; }
  @media screen and (max-width: 24cm) {
    #linkbar {
      text-align: left;
      padding-top: 0px;
      padding-bottom: 0px;
      height: 56px;
      z-index: 10; } }
  #linkbar #logo {
    height: 80px;
    width: auto;
    position: absolute;
    left: 30px;
    top: 5px; }
    @media screen and (max-width: 24cm) {
      #linkbar #logo {
        display: none; } }
  #linkbar.open #linkBarLinks {
    left: 0;
    opacity: 1;
    transition: left 500ms, opacity 1ms ease 0ms; }
  #linkbar:not(.open) .toggle-menubox::before {
    content: 'menu'; }
  #linkbar.open .toggle-menubox::before {
    content: 'close'; }
  #linkbar #linkBarLinks {
    box-shadow: none; }
    @media screen and (max-width: 24cm) {
      #linkbar #linkBarLinks {
        position: fixed;
        left: -350px;
        opacity: 0;
        transition: left ease-in 600ms, opacity 1ms ease 500ms;
        top: 56px;
        background: white;
        padding: 36px;
        padding-top: 22px;
        border-radius: 0px;
        height: 100%;
        width: 250px;
        font-size: 20px;
        max-width: 50%;
        box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.23) inset, 3px 0px 0px 0px rgba(0, 0, 0, 0.03), 2.5px 0px 0px 0px rgba(0, 0, 0, 0.04), 2px 0px 0px 0px rgba(0, 0, 0, 0.05), 1.5px 0px 0px 0px rgba(0, 0, 0, 0.06), 1px 0px 0px 0px rgba(0, 0, 0, 0.07), 0.5px 0px 0px 0px rgba(0, 0, 0, 0.08); } }
  #linkbar #linkBarLinks a {
    margin-right: 40px;
    z-index: 2;
    text-decoration: none;
    color: white;
    text-transform: uppercase; }
    @media screen and (max-width: 24cm) {
      #linkbar #linkBarLinks a {
        margin-right: 8px;
        display: block;
        padding: 10px 0px;
        color: rgba(0, 0, 0, 0.87);
        text-transform: capitalize;
        font-size: 15px;
        font-weight: 600;
        font-family: 'Roboto', 'Helvetica Neue'; } }
  #linkbar #menuBoxIcon, #linkbar #backIcon {
    display: none; }
    @media screen and (max-width: 24cm) {
      #linkbar #menuBoxIcon, #linkbar #backIcon {
        display: inline-block;
        height: 100%;
        font-size: 28px;
        text-decoration: none;
        color: white;
        vertical-align: middle;
        line-height: 56px;
        margin-left: 15px; } }
  #linkbar #title {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    margin-left: 12px;
    font-family: 'Roboto';
    font-size: 30px; }
    @media screen and (max-width: 24cm) {
      #linkbar #title {
        display: inline-block;
        vertical-align: middle;
        font-size: 20px;
        line-height: 56px;
        margin-left: 12px;
        font-family: 'Roboto'; } }

html {
  padding: 0;
  margin: 0;
  background: white;
  color: black; }
  html body {
    padding: 0;
    margin: 0; }
    html body #siteContent {
      color: black; }

/*# sourceMappingURL=index.css.map */
