@import 'sp-colors';

@import 'theme';
@import 'functions';
@import 'linkBar';
@import 'buttons';
@import 'varasto';
@import 'footer';
@import 'form';

html {
  padding: 0; margin: 0;
  background: white;
  color: black;
  body {
    padding: 0; margin: 0;
    #siteContent {
      @import 'siteContent';
    }
  }
}
